@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>Вітаємо, @context.User.Identity?.Name!</span>
                    <a href="/logout" class="ml-3">Вийти</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/register">Реєстрація</a>
                    <a href="/login" class="ml-3">Увійти</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>